body {
  background-color: #f8f9fa;
}

.logout-btn {
  float: right;
}

input[type=number] {
  width: 100%;
}

#accessoires-list .row {
  align-items: center;
}

.table th, .table td {
  vertical-align: middle !important;
}
